
@import (css) url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@font-size: 14px;


@small:      ~'only screen and (max-width: 20em)';
@small-up:   ~'only screen and (min-width: 23.5em)';
@medium:     ~'only screen and (min-width: 26.625em) and (max-width: 48em)';
@medium-up:  ~'only screen and (min-width: 26.625em)';
@large:      ~'only screen and (min-width: 48.0625em) and (max-width: 64em)';
@large-up:   ~'only screen and (min-width: 48.0625em)';
// Media query names like how we talk in the project (although "true" responsive webdesign shouldn't use these terms)
@print: ~"print";
@mobile: @small; // Don't use this if you're using other sizes too, because Mobile First should be the default.
@tablet: @medium;
@desktop: @medium-up;


body {
  background-color: #f5f5f5;
  color: #000000;
  font-family: 'Ubuntu Mono', monospace;
}
.home {
  hr {
    border-color: orange;
  }
  .personal {
    &-name {
      overflow: hidden; 
      border-right: .15em solid orange; 
      white-space: nowrap; 
      margin: 0 auto; 
      letter-spacing: .1em; 
      animation: 
        typing 5.5s steps(40, end),
        blink-caret .75s step-end infinite;
    }
  }
  @media @medium-up {
    width: 60%;
    font-size: @font-size;
    margin: 0 auto;
  }
  @media @mobile {
    height: 80vh;
    font-size: @font-size;
    margin: .5em .5em;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



